---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import FormEmbed from '~/components/widgets/FormEmbed.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/data';

const meta = {
  title: "Company",
};
---

<Layout {meta}>
    <Fragment slot="header">
        <Header
        {...headerData}
        position="left"
      />
    </Fragment>

  <Content
  highlight='Company'
  title="Steve Simkins"
  isReversed
  image={{
    src: import('~/assets/images/steve.jpeg'),
    alt: 'Colorful Image',
  }}
>
  <Fragment slot="content">
    <h3 id="info" class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Hey there! 👋🏻</h3>
    <p>My name is Steve, a self-taught developer from Chattanooga with an itch to solve problems through programming. I also have a deep history in photography, and I've learned a lot from years of shooting professionally and working with other photographers.</p>
     <br/>
      <p>Something I observed lately as my wife edited wedding galleries with multiple shooters, is that almost every time she had to fix the timestamp on thousands of photos. It was long and tricky work in Lightroom and she always complained about it.</p>
      <br/>
      <p>Well that's how I got here building FrameFixer, with the goal of helping other photographers save time and money when it comes to fixing this small problem. Thank you so much for stopping by and it would mean the world to me to subscribe to my email listing so I can let you know more about FrameFixer!</p>
</Fragment>
</Content>

  <CallToAction>
    <Fragment highlight="signup" slot="title">
      Subscribe to stay up to date!
    </Fragment>
    <Fragment slot="subtitle">
      FrameFixer is currently under development, sign up for our email newsletter to stay updated for the release!
    </Fragment>

    <Fragment slot="subtitle">
      <FormEmbed />
    </Fragment>
  </CallToAction>
</Layout>
