---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import FormEmbed from '~/components/widgets/FormEmbed.astro';

import { headerData } from '~/data';
import { getPermalink } from '~/utils/permalinks';

const meta = {
  title: "FrameFixer",
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header
      {...headerData}
      position="left"
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    callToAction={{ text: 'Stay Informed', href: getPermalink('/#mc_embed_shell'), icon: 'tabler:mail' }}
    callToAction2={{ text: 'Learn more', href: '#info' }}
  >
    <Fragment slot="title">
      Never worry about syncing your cameras again
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">FrameFixer</span> takes photos of the same event from multiple cameras and effortlessly corrects the timestamp info to make your workflow smoother</span
      >
    </Fragment>

    <Fragment slot="image">
      <div class="w-full flex justify-center">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player class="h-96 w-96" src="https://assets1.lottiefiles.com/packages/lf20_efenfp40.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
      </div>
    </Fragment>
  </Hero>

  <Content
    highlight='What is'
    title="FrameFixer?"
    items={[
      {
        title: 'Simple to Use',
        description:
          'The only thing you need to do is drop your photos in, confirm the selected subjects/events are the same, and let FrameFixer do the rest.',
      },
      {
        title: 'AI Empowered',
        description:
          'FrameFixer uses AI to identify which photos are of the same event, and then uses that information to correct the timestamps.',
        icon: 'ph:sparkle'
      },

      {
        title: 'Saves Time',
        description:
          'By eliminating the need to manually correct timestamps, FrameFixer saves you time and allows you to focus on what matters most: your photography.',
        icon: 'ph:fast-forward-circle'
      },
    ]}
    image={{
      src: import('~/assets/images/camera.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 id="info" class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The best way to fix timestamps on photos from multiple cameras and photographers</h3>
      <p>Professional photographers often find themselves hiring multiple shooters to help photograph an event, but sometimes forget to sync the date and time on all the different cameras.</p>
       <br/>
        <p> This leads to a headache when it comes time to editing photos and getting the whole collection in chronological order, and FrameFixer is here to solve that for you.</p>
<br/>
      <p>With FrameFixer you can simply drop in your photos, confirm that it found the the same subject from both photos, and choose the corrected time and date!</p>
</Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction>
    <Fragment highlight="signup" slot="title">
      Subscribe to stay up to date!
    </Fragment>
    <Fragment slot="subtitle">
      FrameFixer is currently under development, so sign up for our email newsletter to stay updated for the release!
    </Fragment>
    <Fragment slot="subtitle">
      <FormEmbed client:load />
    </Fragment>

  </CallToAction>
</Layout>
