---
---

<div class="flex gap-1">
  <svg viewBox="0 0 512 512" class="h-10 w-10 stroke-current fill-none" xmlns="http://www.w3.org/2000/svg">
    <path d="M130 90V75C130 66.7157 136.716 60 145 60H431C439.284 60 446 66.7157 446 75V299" stroke-width="14"/>
    <path d="M100 120.5V105C100 96.7157 106.716 90 115 90H401C409.284 90 416 96.7157 416 105V279"  stroke-width="14"/>
    <path d="M386 272.5V135C386 126.716 379.284 120 371 120H85C76.7157 120 70 126.716 70 135V421C70 429.284 76.7157 436 85 436H309.5"  stroke-width="14"/>
    <circle cx="377.5" cy="367.5" r="95.5"  stroke-width="14"/>
    <path d="M379 290L379 376"  stroke-width="14" stroke-linecap="round"/>
    <path d="M378.988 375.53L418.446 336.072" stroke-width="14" stroke-linecap="round"/>
    <path class="fill-current" d="M215 332.301C214.933 331.863 214.858 331.391 214.775 330.889C214.261 327.78 213.441 323.499 212.217 318.812C209.775 309.465 205.697 298.401 199.148 291.852C192.599 285.303 181.535 281.225 172.188 278.783C167.501 277.559 163.22 276.739 160.111 276.225C159.609 276.142 159.137 276.067 158.699 276C159.137 275.933 159.609 275.858 160.111 275.775C163.22 275.261 167.501 274.441 172.188 273.217C181.535 270.775 192.599 266.697 199.148 260.148C205.697 253.599 209.775 242.535 212.217 233.188C213.441 228.501 214.261 224.22 214.775 221.111C214.858 220.609 214.933 220.137 215 219.699C215.067 220.137 215.142 220.609 215.225 221.111C215.739 224.22 216.559 228.501 217.783 233.188C220.225 242.535 224.303 253.599 230.852 260.148C237.401 266.697 248.465 270.775 257.812 273.217C262.499 274.441 266.78 275.261 269.889 275.775C270.391 275.858 270.863 275.933 271.301 276C270.863 276.067 270.391 276.142 269.889 276.225C266.78 276.739 262.499 277.559 257.812 278.783C248.465 281.225 237.401 285.303 230.852 291.852C224.303 298.401 220.225 309.465 217.783 318.812C216.559 323.499 215.739 327.78 215.225 330.889C215.142 331.391 215.067 331.863 215 332.301Z"  />
    <path class="fill-current" d="M161 197C161 197 162.655 212.45 169.103 218.897C175.55 225.345 191 227 191 227C191 227 175.55 228.655 169.103 235.103C162.655 241.55 161 257 161 257C161 257 159.345 241.55 152.897 235.103C146.45 228.655 131 227 131 227C131 227 146.45 225.345 152.897 218.897C159.345 212.45 161 197 161 197Z"/>
    <path class="fill-current" d="M161 197C161 197 162.655 212.45 169.103 218.897C175.55 225.345 191 227 191 227C191 227 175.55 228.655 169.103 235.103C162.655 241.55 161 257 161 257C161 257 159.345 241.55 152.897 235.103C146.45 228.655 131 227 131 227C131 227 146.45 225.345 152.897 218.897C159.345 212.45 161 197 161 197Z" />
    <path class="fill-current" d="M200 177C200 177 200.828 184.725 204.051 187.949C207.275 191.172 215 192 215 192C215 192 207.275 192.828 204.051 196.051C200.828 199.275 200 207 200 207C200 207 199.172 199.275 195.949 196.051C192.725 192.828 185 192 185 192C185 192 192.725 191.172 195.949 187.949C199.172 184.725 200 177 200 177Z" />
    <path class="fill-current" d="M200 177C200 177 200.828 184.725 204.051 187.949C207.275 191.172 215 192 215 192C215 192 207.275 192.828 204.051 196.051C200.828 199.275 200 207 200 207C200 207 199.172 199.275 195.949 196.051C192.725 192.828 185 192 185 192C185 192 192.725 191.172 195.949 187.949C199.172 184.725 200 177 200 177Z" />
    </svg>
  <span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
      FrameFixer 
  </span>

</div>
